*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #b22462;
}
.text{
    position: relative;
    text-align: center;
    top: 15%;
    color: #bc1996;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    font-size: 100%;

}
.main h1{
    font-size: 6rem;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.main h{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
.img a{
    position: right;
    top: 0%;
}