*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.main{
    width: 100%;
    height: 150%;
    background-color: #dc307a;
}
.text{
    position: relative;
    text-align: center;
    top: 30%;
    color: #b82094;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    font-size: 100%;
    
}
.main h1{
    font-size: 6rem;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.main h{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    Display: flex;
    Flex-direction: column;
    Align-items: center;
    Justify-content: center;

}
img{
    margin-bottom: 15px;
    display:block;
    width: 300px;
    
}
.a{
    
    position: absolute;
    aspect-ratio: 4/3;  
    box-shadow:10px 4px 12px #b85aa2;
    transform: translateX(1213px);
}
.b{
    position:absolute;
    aspect-ratio: 3/4; 
    box-shadow:10px 4px 12px #b85aa2; 
}
.c{
    position:absolute;
    aspect-ratio: 3/4;
    margin-top: 410px;
    box-shadow:10px 4px 12px #b85aa2
}
.d{
    position: absolute;
    aspect-ratio: 3/4;
    margin-top: 230px;
    transform: translateX(1213px);
    box-shadow: 10px 4px 12px #b85aa2;
}
.e{
    position:absolute;
    aspect-ratio: 3/4;
    margin-top: 820px;
    box-shadow:10px 4px 12px #b85aa2
}
.f{
    position: absolute;
    aspect-ratio: 4/3;
    margin-top: 640px;
    transform: translateX(1213px);
    box-shadow: 10px 4px 12px #b85aa2;
}
.g{
    position: absolute;
    aspect-ratio: 4/3;
    margin-top: 870px;
    transform: translateX(1213px);
    box-shadow: 10px 4px 12px #b85aa2;
}
.h{
    position: absolute;
    aspect-ratio: 3/4;
    margin-top: 1100px;
    transform: translateX(1213px);
    box-shadow: 10px 4px 12px #b85aa2;
}
.i{
    position:absolute;
    aspect-ratio: 4/3;
    margin-top: 1230px;
    box-shadow:10px 4px 12px #b85aa2
}
.q{
    position:absolute;
    aspect-ratio: 4/3;
    margin-top: 870px;
    transform: translateX(360px);
    box-shadow: 10px 4px 12px #b85aa2;
    height:600px;
    width: 800px    
}
.xtra{
    position:absolute;
    margin-top: 20px;
    transform: translateX(560px);
    height: 300px;
    width: 400px;
    aspect-ratio:4/3;
}